.navbar{
    display:flex;
    height: 13vh;
    background-color: var(--basic-blue);
    color: white;
    z-index: 10;
    font-family: Amiko;
    position: sticky;
    top: 0;
    width: 100vw;
    overflow: hidden;
    align-items: center;
}

.logo-links-oben{
    margin-left: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    z-index: 10;
    height: clamp(40px, 5vw, 200px);
    width: auto;
}
.logoanimation{
  width: clamp(20px, 10vw, 200px);
  height: auto;
  opacity: 0;
  z-index: 1000;
}

.menu-items{
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 1vh;
    align-items: center;
    display: flex;
    font-weight: normal;
    font-size: clamp(8px, 1vw, 50px);;
    text-decoration: none;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.menu-separator {
  margin: 0 1vw;
}

.menu-link.active {
  font-weight: 900; /* fett */
  color: white; /* optional */
}


#de-en{
    font-size: clamp(6px, 0.8vw, 30px);
    margin-right: 1vw;
    margin-left: 2.5vw;
    cursor: pointer;
}

.overlay-rectangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
   display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}