.bild-hinter-slogan {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

}

.bild-hinter-slogan img {
    filter: brightness(50%);
    width: 100%;

}

.header {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: clamp(20px, 5vw, 200px);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";
}

.text-plus-bild-estate {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5vh 10vw;
    gap: 5vw;
    font-size: clamp(12px, 1.5vw, 25px);
    text-align: left;
    color: var(--basic-blue);
    margin-bottom: 5vh;
    height: auto
}


.text-plus-bild-estate p {
    text-align: left;
}

.textlinks {
    margin-bottom: 10vh;
    flex: 1 1 40%;
    /* Mindestens 40% Breite, kann wachsen */
    min-width: 300px;
    /* Verhindert zu schmale Texte */
}

.estateleistungen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1vw;
    gap: 0.5vh;
    margin-bottom: 10vh;
    flex-direction: column;
    flex: 1 1 45%;
    min-width: 300px;
    width: 50vw;
    height: 45vh;
    object-fit: cover;

}

.estateleistung {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40vw;
    height: 10vh;
    font-size: clamp(12px, 1.5vw, 20px);
    background-color: var(--basic-blue);
    color: white;
    margin-top: 0.5vh;


}

.estateleistung h2 {
    text-align: center;
    color: white;
    font-size: clamp(20px, 2.5vw, 200px);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";
}

.bild-hinter-leistung h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";

}

.bild-hinter-leistung img {
    display: block;
    transition: transform 0.7s ease, filter 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.bild-hinter-leistung:hover {
    transform: scale(1.05);
    z-index: 2000;
}

.bewertungen-ue {
    text-align: left;
    color: var(--basic-blue);
    font-size: clamp(20px, 3vw, 40px);
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
}

.immobilien-ue {
    text-align: left;
    color: var(--basic-blue);
    font-size: clamp(20px, 3vw, 40px);
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
}

.bewertung-block {
    width: 70%;
    height: 20vh;
    background-color: var(--basic-blue);
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.bewertungstext {
    font-size: clamp(8px, 1vw, 25px);
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    padding-top: 4vh;
}

.bewertungsname {
    text-align: center;
    font-size: clamp(10px, 0.8vw, 20px);
    margin-top: 2vh;
}

@media (max-width: 800px) {
    .textlinks {
        margin-bottom: 0;
    }

    .estateleistungen {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1vh;
    }

}




