.immo-bild-detail-oben {
    margin-top: 3vh;
    position: relative;
    width: 80%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    height: 50vh;
}

.erstes-bild-detail,
.zweites-bild-detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.7s ease;
    border: 2px solid var(--basic-blue);
}   

.erstes-bild-detail {
    opacity: 1;
}

.zweites-bild-detail {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.immo-bild-detail-oben:hover .erstes-bild-detail {
    opacity: 0;
}

.immo-bild-detail-oben:hover .zweites-bild-detail {
    opacity: 1;
}

.immo-titel-detail {
    text-align: left;
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: clamp(24px, 2vw, 60px);
    font-weight: bold;
    font-family: Amiko;
}
.info-box-links{
    border: 2px solid var(--basic-blue);
    margin-left: 10%;
    margin-top: 3vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.2vw, 24px);
    padding: 2vh;
    gap: 1vh;   
}
.info-box-links ul{
    margin-left: 2vw;
    list-style-type: disc;

}