.bild-hinter-slogan-landing {
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;


}

.bild-hinter-slogan-landing img {
    filter: brightness(50%);
    width: 100%;

}

.slogan-landing {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    color: white;
    font-size: clamp(20px, 2.5vw, 200px);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";
    padding-left: 7.5vw;
    z-index: 100;
}

.text-plus-bild-landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5vh 10vw;
    gap: 5vw;
    font-size: clamp(12px, 1.5vw, 25px);
    text-align: left;
    color: var(--basic-blue);
    margin-bottom: 5vh;
    height: auto
}

.text-plus-bild-landing>div {
    flex: 1 1 40%;
    /* Mindestens 40% Breite, kann wachsen */
    min-width: 300px;
    /* Verhindert zu schmale Texte */
}

.text-plus-bild-landing img {
    flex: 1 1 45%;
    /* Nimmt ca. 45% ein */
    min-width: 300px;
    /* Bei Platzmangel umbricht */
    width: 50vw;
    height: 45vh;
    object-fit: cover;
}

.text-plus-bild p,
h2 {
    text-align: left;
    width: 100%;
    height: auto;
}





.text-plus-blue-bg {
    background-color: var(--basic-blue);
    height: 25vh;
    text-align: center;
    color: white;
    font-size: clamp(10px, 2vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14vw;

}

.text-plus-blue-bg p {
    font-size: clamp(10px, 1.5vw, 30px);


}

.leistungen-ue {
    text-align: left;
    color: var(--basic-blue);
    font-size: clamp(20px, 3vw, 40px);
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 10vw;
}

.leistungen-landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 6vw;
    gap: 1vw;
    margin-bottom: 10vh;
    object-fit: cover;
}


.bild-hinter-leistung-landing {
    text-decoration: none;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s ease;
    cursor: pointer;
    flex: 1 1 28%;
    min-width: 500px;
    max-width: 20vw;
    height: 25vh;
    background-color: var(--basic-blue);
    overflow: hidden;
}



@media (max-width: 600px) {
    .bild-hinter-leistung-landing {
        flex: 1 1 80%;
        max-width: 80%;
        min-width: 350px;
        justify-content: center;
        align-items: center;
    }

    .leistungen-landing {
        justify-items: center;
        align-items: center;
    }
    .bild-hinter-leistung-landing img{
        align-self: center;
    }
}

.bild-hinter-leistung-landing h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: clamp(40px, 2.5vw, 100px);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";
    overflow: hidden;
    margin: 0;
}

.bild-hinter-leistung-landing img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s ease, filter 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}

.bild-hinter-leistung-landing:hover img {
    transform: scale(1.05);
    z-index: 2000;
    overflow: hidden;
}

.text-plus-map-landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5vh 10vw;
    gap: 5vw;
    font-size: clamp(12px, 1.5vw, 25px);
    text-align: left;
    color: var(--basic-blue);
    margin-bottom: 5vh;
    height: auto;

}

.text-plus-bild-landing>div {
    flex: 1 1 40%;
    /* Mindestens 40% Breite, kann wachsen */
    min-width: 300px;
    /* Verhindert zu schmale Texte */
}

.landing-map {

    flex: 1 1 40%;
    /* Mindestens 40% Breite, kann wachsen */
    min-width: 300px;
    overflow-x: visible;
    width: 40vw;
    height: 45vh;

}

#adresse {
    font-size: clamp(12px, 1vw, 25px);
    margin-top: 2vh;
    color: gray;

}

/* Media Query für kleinere Bildschirme */
@media (max-width: 1028px) {
    .text-plus-bild-landing {
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }

    .text-plus-bild-landing img {
        width: 90vw;
        /* Das Bild nimmt mehr Platz auf kleineren Geräten ein */
        height: auto;
        /* Höhe anpassen, um das Seitenverhältnis zu erhalten */
    }

    .text-plus-map-landing {
        flex-direction: column;
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }

    .landing-map {
        width: 80vw;
        flex-direction: column;
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }


}