.teamtext {
    padding: 5vh 10vw;
    gap: 5vw;
    font-size: clamp(12px, 1.5vw, 25px);
    text-align: left;
    color: var(--basic-blue);
    margin-bottom: 5vh;
}

.team-headshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.5vw;
  margin: 3vw 2vh;
}

.memberblock {
  position: relative;
  flex: 1 1 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
}

.member-image-wrapper {
  position: relative;
  width: 80%;
  height: 48vh;
  overflow:hidden;
}

.member-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

/* Standard: normales Bild sichtbar, Close-up unsichtbar */
.member-image.normal {
  opacity: 1;
  z-index: 1;
}

.member-image.closeup {
  opacity: 0;
  z-index: 2;
  filter: brightness(50%);
}

.info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem;
  text-align: left;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.info-overlay h3 {
  margin-bottom: 0vh;
  font-size: 2vw;
}
.info-overlay h4 {
  margin-bottom: 3vh;
  font-size: 1.5vw;
}

.member-image-wrapper:hover .info-overlay {
  opacity: 1;
  z-index: 3000;
}

/* Hover-Effekt: Zoom + Bildwechsel */
.member-image-wrapper:hover .member-image.normal {
  transform: scale(1.08);
  opacity: 0;
}

.member-image-wrapper:hover .member-image.closeup {
  transform: scale(1.08);
  opacity: 1;
}

/* Responsives Verhalten */
@media (max-width: 900px) {
  .memberblock {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 600px) {
  .memberblock {
    flex: 1 1 90%;
    max-width: 90%;
  }
}
