.text-plus-bild-finance p {
    text-align: left;
}

.text-plus-bild-finance {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1vh 10vw;
    gap: 5vw;
    font-size: clamp(12px, 1.5vw, 25px);
    text-align: left;
    color: var(--basic-blue);
    margin-bottom: 1vh;
    margin-top: 4vh;
    height: auto
}
.text-plus-bild-finance img {
    flex: 1 1 45%;
    /* Nimmt ca. 45% ein */
    min-width: 300px;
    /* Bei Platzmangel umbricht */
    width: 50vw;
    height: 45vh;
    object-fit: cover;
}
.text-plus-bild-finance>div {
    flex: 1 1 40%;
    /* Mindestens 40% Breite, kann wachsen */
    min-width: 300px;
    /* Verhindert zu schmale Texte */
}

.finanzleistungen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.finanzleistung {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 80%;
    height: 10vh;
    font-size: clamp(12px, 1.5vw, 20px);
    background-color: var(--basic-blue);
    color: white;
    margin-top: 3vh;

}

.finanzleistung img {
    filter: brightness(70%);
    z-index: 1;
}

.finanzleistung h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: clamp(20px, 2.5vw, 200px);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Amiko";
}

.kontaktheader {
    text-align: left;
    color: var(--basic-blue);
    font-size: clamp(20px, 3vw, 40px);
    margin-top: 5vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
}

@media (max-width: 700px) {
    .text-plus-bild-finance {
        flex-direction: column;
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }

    .text-plus-bild-finance img {
        width: 90vw;
        /* Das Bild nimmt mehr Platz auf kleineren Geräten ein */
        height: auto;
        /* Höhe anpassen, um das Seitenverhältnis zu erhalten */
    }

    .text-plus-map-landing {
        flex-direction: column;
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }
    .landing-map {
        width: 80vw;
        flex-direction: column;
        /* Bilder und Text untereinander auf kleineren Geräten */
        align-items: center;
    }


}